version: "3.9"

services:
  db:
    image: matrixorigin/matrixone:3.0.4-hotfix-20251213
    container_name: sca-matrixone
    environment:
      # 启用实验性向量索引功能
      MO_ENABLE_EXPERIMENTAL_IVF_INDEX: "true"
    ports:
      - "6001:6001"
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/6001' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3


  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: sca-backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8001:8000"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: sca-frontend
    depends_on:
      backend:
        condition: service_healthy
    environment:
      BACKEND_HOST: backend
      BACKEND_PORT: 8000
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "5173:80"


